section.hero
	nav.menu.hero__menu.d-sm-none
		a(href="#") HOME
		a(href="#") ABOUT ME
		a(href="#") PORTFOLIO
		a(href="#") CONTACT
	nav.mobile-menu.hero__mobile-menu ∞ MENU
	.scroll-down.hero__scroll-down
		p SCROLL DOWN TO SEE MORE
		a(href="#") 
	
