block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="author")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		link(rel='stylesheet' href='assets/css/foundation.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400|PT+Sans:700')
		link(rel='stylesheet' href='assets/css/app.css')
		
		body
			block content
